@import "variable";
/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
html {
  font-size: 62.5%;
  font-family: $font-family;
  letter-spacing: 0.15em;
  color: $col-black;
  background: $col-white;
  // transition: all 0.5s ease-out;
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
}
a {
  cursor: pointer;
  text-decoration: none;
}
// * {
//   border: solid 1px red;
// }
// -------------------------------------
// 共通部分
// -------------------------------------
.v-pc {
  @include mq(max, md) {
      display: none !important;
  }
}
.v-sp {
  display: none;
  @include mq(max, md) {
      display: block;
  }
}

.fv {
  position: relative;
  line-height: 0;
  @include mq(max, md) {
    height: 100vh;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: -107px;
    left: 49.75%;
    transform: translateX(-50%);
    width: 1px;
    height: 174px;
    background: #fff;
    z-index: 2;
    @include mq(max, md) {
      bottom: -3%;
      left: 50%;
      width: 0.5vw;
      height: 15vw;
    }
  }
  &:after {
    content: "";
    position: absolute;
    bottom: -60px;
    left: 51.25%;
    transform: translateX(-50%);
    width: 1px;
    height: 163px;
    background: #fff;
    z-index: 2;
    @include mq(max, md) {
      display: none;
    }
  }
  .fv__ttl {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    letter-spacing: 0.1em;
    font-family: $font-family-eb;
    color: #fff;
    z-index: 2;
    @include mq(max, md) {
      top: 48%;
      font-size: calc-size(30);
    }
  }

  .fv__img {
    @include mq(max, md) {
      display: block;
      height: 100vh;
      overflow: hidden;
    }
  }
  .fv__txt {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX( -50%);
    font-size: 0.73vw;
    letter-spacing: 0.5em;
    color: #fff;
    z-index: 2;
    @include mq(max, md) {
      width: 100%;
      font-size: 10px;
      text-align: center;
    }
  }
  img {
    width: 100%;
  }

  .fv__movie {
    position: relative;
    overflow: hidden;
    @include mq(max, md) {
      height: 100vh;
    }
    video {
      width: 100%;
      @include mq(max, md) {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        height: 100vh;
      }
    }
  }
}

.line-btn {
  padding: 10px 53.5px;
  font-size: 15px;
  border-radius: 15px;
  color: #fff;
  background: #53b535;
  @include mq(max, md) {
    padding: 1.25vw 4.5vw;
    font-size: calc-size(11);
  }
  &:hover {
    opacity: .7;
  }
}

// 共通のボタンCSS
.common-btn {
  position: relative;
  font-size: 2rem;
  letter-spacing: 0.15em;
  border: solid 1px #707070;
  transition: all 0.5s ease-out;
  z-index: 1;
  @include mq(max, md) {
   font-size: calc-size(16);
   letter-spacing: 0.075em;
   border: solid 0.25vw #707070;
  }
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    right: -12%;
    transform: translateY(-50%);
    width: 71px;
    height: 22px;
    background: url(/dist/img/common_arrow.png) no-repeat;
    background-size: contain;
    transition: all 0.5s ease-out;
    @include mq(max, md) {
      right: -7%;
      width: 7vw;
      height: 3vw;
     }
  }
  
  &:hover {
    &:before {
      right: -15%;
      @include mq(max, md) {
        right: -7%;
      }
    }
    span {
      &:before {
        width: 100%;
      }
    }
  }

  span {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 0;
      background-color: $col-pink;
      z-index: -1;
      transition: all 0.5s ease-out;
      @include mq(max, md) {
        background: none;
      }
    }
  }
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background: $col-white;
  transition: 1s;
}

.linearbg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  opacity: 0;
  background:linear-gradient(180deg, #f7aa75 0%, #f7aa75 25%, white 100%);
  transition: 1s;
}
// -------------------------------------
// TOPページ部分
// -------------------------------------
.top__fv {
  @include mq(max, md) {
    overflow: unset;
  }
  &:before {
    @include mq(max, md) {
      bottom: -15vw;
      left: 48.75%;
      width: 0.5vw;
      height: 25vw;
    }
  }
  &:after {
    @include mq(max, md) {
      display: block;
      bottom: -4vw;
      left: 50.25%;
      width: 0.5vw;
      height: 20vw;
    }
  }

  .fv__ttl {
    top: 40%;
    font-size: 0.73vw;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: upright;
    -webkit-text-orientation: upright;
    @include mq(max, md) {
      font-size: 10px;
    }
  }
}
.top__about {
  padding: 517px 0 324px 262px;
  background: url(/dist/img/top_about_bg.jpg) no-repeat center;
  background-size: cover;
  @include mq(max, md) {
    padding: 59vw 0 59vw 13.5vw;
    background: url(/dist/img/top_about_bg_sp.jpg) no-repeat center;
  }
  @include mq(max, lg) {
    padding: 59vw 0 59vw 13.5vw;
  }
  .top__about-ttl {
    margin-bottom: 132px;
    font-size: 2.5rem;
    color: $col-black;
    @include mq(max, md) {
      margin-bottom: 8vw;
      font-size: calc-size(17);
      letter-spacing: 00.15em;
    }
  }

  .top__about-link {
    position: relative;
    width: 105px;
    
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 105px;
      height: 1px;
      background: $col-black;
      transition: all 0.5s ease-out;
    }
    a {
      display: block;
      padding-bottom: 7px;
      font-size: 1.7rem;
      font-family: $font-family-eb;
      letter-spacing: 0.15em;
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 28px;
        height: 13px;
        background: url(/dist/img/common_arrow.png) no-repeat;
        background-size: contain;
        transition: all 0.5s ease-out;
      }

      &:hover {
        &:before {
          right: -5px;
        }
      }
    }
  }
}

.top__info {
  display: flex;
  @include mq(max, md) {
    display: block;
    margin-top: 5vw;
  }
  .top__info-item {
    position: relative;
    width: 50%;
    overflow: hidden;
    background: url(/dist/img/top_gallery_bg.jpg) no-repeat center;
    background-size: cover;
    @include mq(max, md) {
      width: 70%;
      overflow: unset;
    }
    &:last-of-type {
      background: url(/dist/img/top_priceplan_bg.jpg) no-repeat center;
      background-size: cover;
    }
    a {
      display: block;
      padding: 50%;
      width: 100%;
      @include mq(max, md) {
        padding: 43%;
      }
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(255, 255, 255);
        background: linear-gradient(
          20deg,
          rgba(255, 255, 255, 0.8) 0%,
          rgba(255, 255, 255, 0.8) 40%,
          rgba(255, 255, 255, 0) 40%,
          rgba(255, 255, 255, 0) 100%
        );
        opacity: 0;
        transition: all 1.5s ease;
        @include mq(max, md) {
          top: 20vw;
          left: 29vw;
          width: 62vw;
          height: 51vw;
          background: #fff;
          opacity: .9;
        }
        @include mq(max, lg) {
          opacity: 1;
        }
      }
      &:hover {
        &:before {
          opacity: 1;
        }
        .top__info-ttl {
          opacity: 1;
        }
      }
    }

    .top__info-ttl {
      position: absolute;
      left: 30%;
      bottom: 12%;
      padding-bottom: 27px;
      font-size: 4rem;
      letter-spacing: 0.125em;
      text-align: center;
      font-family: $font-family-eb;
      opacity: 0;
      transition: all 1.5s ease;
      @include mq(max, md) {
        left: 43%;
        bottom: -16%;
        width: 90%;
        padding: 14vw 5vw 21vw;
        font-size: calc-size(24);
        opacity: 1;
      }

      @include mq(bw, md,lg) {
        bottom: 5%;
        opacity: 1;
      }

      .top__info-ttl-small {
        font-size: 1.5rem;
        font-family: $font-family;
        @include mq(max, md) {
          font-size: calc-size(11);
        }
      }
      &:before {
        content: "";
        position: absolute;
        top: 89.75%;
        left: 32%;
        width: 48px;
        height: 11px;
        background: url(/dist/img/common_arrow.png) no-repeat;
        background-size: contain;
        @include mq(max, md) {
          top: 64%;
          left: 45%;
          width: 6vw;
          height: 2vw;
        }
      }
    }
  }
  .top__price {
    @include mq(max, md) {
      width: 76%;
      margin: 35vw 0 0 auto;
    }
    a {
      &:before {
        background: rgb(255, 255, 255);
        background: linear-gradient(
          -20deg,
          rgba(255, 255, 255, 0.8) 0%,
          rgba(255, 255, 255, 0.8) 40%,
          rgba(255, 255, 255, 0) 40%,
          rgba(255, 255, 255, 0) 100%
        );
        @include mq(max, md) {
          top: 29vw;
          left: -17vw;
          width: 62vw;
          height: 51vw;
          background: #fff;
        }
      }
    }
    .top__info-ttl {
      left: 40%;
      @include mq(max, md) {
        left: -25%;
        padding: 14vw 0vw 18vw;
      }
      &:before {
        left: 39%;
        @include mq(max, md) {
          top: 70%;
          left: 44%;
        }
      }
    }
  }
}

.top__info-txt {
  padding: 146px 0 87px;
  font-size: 2.5rem;
  line-height: 4;
  text-align: center;
  @include mq(max, md) {
    padding: 31vw 0 15vw;
    font-size: calc-size(13);
    line-height: 3.25;
  }

  @include mq(bw, md,lg) {
    font-size: 2rem;
  }
}

.top__studio {
  .top__studio-item {
    position: relative;
    text-align: center;
    font-family: $font-family-eb;
    color: #fff;
    background: url(/dist/img/top_tokyo_bg.jpg) no-repeat center;
    background-size: cover;
    &:last-of-type {
      background: url(/dist/img/top_okinawa.png) no-repeat center;
      background-size: cover;
    }
  }

  .top__studio-link {
    display: block;
    height: 25vw;
    @include mq(max, md) {
      height: 69.5vw;
    }
    &:hover {
      .top__studio-group {
        &:before {
          left: 53%;
        }
      }
    }
  }

  .top__studio-group {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 30px;
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 71px;
      height: 16px;
      background: url(/dist/img/common_arrow_w.png) no-repeat ;
      background-size: contain;
      transition: all 0.5s ease-out;
      @include mq(max, md) {
        width: 10vw;
        height: 2.5vw;
      }

      @include mq(max, lg) {
        width: 54px;
      }
    }
    
  }
  .top__studio-txt {
    margin-bottom: 13px;
    font-size: 2rem;
    letter-spacing: 0.15em;
    @include mq(max, md) {
      margin-bottom: 0;
      font-size: calc-size(13);
    }
  }
  .top__studio-address {
    width: 682px;
    padding: 32px 0;
    font-size: 4.5rem;
    letter-spacing: 0.15em;
    background: url(/dist/img/top_address.png) no-repeat center;
    background-size: contain;
    @include mq(max, md) {
      width: 75vw;
      padding: 4vw 0;
      font-size: calc-size(20);
      background: url(/dist/img/top_address_sp.png) no-repeat center;
    }

    @include mq(bw, md,lg) {
      padding: 20px 0;
      font-size: 2.5rem;
    }
  }

  .top__studio-comming {
    margin-top: 10px;
    font-size: 1.7rem;
    letter-spacing: 0.1em;
    @include mq(max, md) {
      font-size: calc-size(10);
    }
  }
}

.comming-soon {
  .top__studio-group {
    &:before {
      content: none;
    }
  }
  .top__studio-group {
    padding-bottom: 0;
  }
}

.top__contact {
  padding: 282px 0 300px;
  text-align: center;
  background: url(/dist/img/top_contact_bg.png) no-repeat center;
  @include mq(max, md) {
    padding: 30vw 0;
    background: url(/dist/img/top_contact_bg_sp.png) no-repeat center;
  }
  .top__contact-ttl {
    width: 304px;
    margin: 0 auto 135px;
    font-size: 4.5rem;
    font-family: $font-family-eb;
    letter-spacing: 0.15em;
    background:linear-gradient(transparent 70%, #ebd6cc 70%);
    @include mq(max, md) {
      margin: 0 auto 7vw;
      width: 30vw;
      font-size: calc-size(25);
    }
  }

  .top__contact-txt {
    margin-bottom: 112px;
    font-size: 2.2rem;
    line-height: 3.5;
    @include mq(max, md) {
      margin: 0 auto 7vw;
      font-size: calc-size(13);
    }

    @include mq(bw, md,lg) {
      font-size: 2rem;
    }
  }

  .top__contact-line {
    margin: auto;
  }
}