@import 'variable';
// -------------------------------------
// フッター部分
// -------------------------------------
.footer {
    padding-bottom: 17px;
    text-align: center;
    background: rgb(247,170,117);
    background: linear-gradient(180deg, rgba(247,170,117,1) 0%, rgba(247,170,117,1) 25%, rgba(255,255,255,1) 100%);
    small {
      font-size: 14px;
      color: #F5C1A5;
    }
  }
  .footer__group {
    padding: 161px 0 84.9px;
    max-width: 1221px;
    width: 90%;
    margin: auto;
    text-align: center;
    @include mq(max, md) {
      padding: 37vw 0 22vw;
    }
    .footer__group-wrap {
      position: relative;
      border: solid 2px #fff;
      @include mq(max, md) {
        border: none;
      }
      &:before {
        @include mq(max, md) {
          content: "";
          position: absolute;
          top: 03vw;
          left: 50%;
          transform:translateX(-50%);
          width: 60vw;
          height: 0.25vw;
          background: #fff;
        }
      }
      &:after {
        @include mq(max, md) {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          transform:translateX(-50%);
          width: 60vw;
          height: 0.25vw;
          background: #fff;
        }
      }
    }
  
    .footer__noren {
      position: absolute;
      top: -15px;
      left: 50%;
      transform: translateX(-50%);
      padding: 0 146px;
      background: #f8aa75;
      @include mq(max, md) {
       top: -9vw;
       padding: 0;
      }
    }
  }
  
  .footer__contact {
    display: flex;
    align-items: center;
    justify-content: space-around;
  
    .footer__contact-item {
      width: 295px;
      margin:103px 0 118px;
      @include mq(max, md) {
        width: 35%;
        margin: 20vw 0 17vw;
      }
    }
    .footer__contact-icon {
      display: block;
      width: 67px;
      height: 67px;
      margin: auto;
      padding: 17px;
      border-radius: 50%;
      background: #fff;
      @include mq(max, md) {
        width: 8vw;
        height: 8vw;
        padding: 2vw;
      }
    }
  }
  
  .footer__ange {
    height: 176px;
    font-size: 4.5rem;
    letter-spacing: 0.15em;
    font-family: $font-family-Prata;
    color: #fff;
    @include mq(max, md) {
      height: 19.5vw;
      font-size: calc-size(20);
    }
    a {
      line-height: 176px;
      @include mq(max, md) {
       line-height: 19.5vw;
      }
    }
  }

  .footer__policy {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 147px;
    font-size: 15px;
    color: #F4AE88;
    @include mq(max, md) {
      display: block;
      margin-bottom: 20vw;
      font-size: calc-size(13);
    }
    &:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 51%;
      transform: translateX(-50%);
      width: 5px;
      height: 14px;
      background: url(/dist/img/footer_tag.png) no-repeat center;
      background-size: contain;
      @include mq(max, md) {
        display: none;
      }
    }
    li {
      &:first-of-type {
        margin-right: 96px;
        @include mq(max, md) {
          margin-right: 0;
          margin-bottom: 5vw;
        }
      }
    }
  }