
.gallery {
    padding: 424px 0 300px;
    background: url(/dist/img/gallery_bg.png) no-repeat;
    background-position: center 10%;
    background-size: 100%;
    @include mq(max, md) {
      padding: 40vw 0 30vw;
      background: url(/dist/img/gallery_bg_sp.png) no-repeat center;
    }
  
    .gallery__group {
      width: 80%;
      max-width: 1388px;
      margin: 0 auto 157px;
      @include mq(max, md) {
        width: 69.5%;
        margin: 0 0 43vw 17vw;
      }
    }
  
    .gallery__item {
      display: flex;
      @include mq(max, md) {
        flex-wrap: wrap;
      }
      &:not(:last-of-type) {
        margin-bottom: 300px;
        @include mq(max, md) {
          margin-bottom: 28.5vw;
        }
      }
  
      &:nth-of-type(even) {
        justify-content: end;
        @include mq(max, md) {
          flex-direction: column-reverse;
        }
        .gallery__txt {
          margin-left: 0;
          margin-right: 42px;
          text-align: right;
          @include mq(max, md) {
            margin-left: 1.5vw;
            margin-right: 0;
            text-align: left;
          }
        }
  
        .gallery__img {
          &:before {
            left: 35px;
            @include mq(max, md) {
              left: -3vw;
            }
          }
        }
      }
    }
  
    .gallery__img {
      position: relative;
      width: 50%;
      max-width: 711px;
      @include mq(max, md) {
        width: 100%;
      }
      &:before {
        content: "";
        position: absolute;
        top: 20px;
        right: 45px;
        width: 100%;
        height: 100%;
        background: #fff;
        @include mq(max, md) {
          top: 0;
          right: 13vw;
          width: 60vw;
          height: 44vw;
        }
      }
      video {
        position: relative;
        width: 100%;
      }
    }
  
    .gallery__txt {
      margin-left: 42px;
      @include mq(max, md) {
        margin-top: 5vw;
        margin-left: 1.5vw;
      }
      .gallery__plan {
        margin-bottom: 27px;
        font-size: 2rem;
        @include mq(max, md) {
          margin-bottom: 1vw;
          font-size: calc-size(13);
          line-height: 1.25;
        }
  
        span {
          font-size: 1.25rem;
          @include mq(max, md) {
            margin-top: 0.25vw;
            font-size: calc-size(10);
            letter-spacing: -0.01em;
          }
        }
      }
      .gallery__tag {
        margin-bottom: 31px;
        font-size: 2rem;
        @include mq(max, md) {
          margin-bottom: 1vw;
          font-size: calc-size(13);
          line-height: 1;
        }
      }
  
      .gallery__studio {
        margin-bottom: 28px;
        font-size: 2rem;
        @include mq(max, md) {
          margin-bottom: 0.5vw;
          font-size: calc-size(13);
          line-height: 1;
        }
      }
      .gallery__born {
        font-size: 2rem;
        @include mq(max, md) {
          font-size: calc-size(13);
        }
      }
    }
  
    .gallery__inst {
      padding-top: 119px;
      text-align: center;
      background: url(/dist/img/common_tag.png) no-repeat top center;
      @include mq(max, md) {
        padding-top: 0;
        background: none;
      }
  
      .gallery__inst-txt {
        margin-bottom: 15px;
        font-size: 2rem;
        @include mq(max, md) {
          margin-bottom: 2vw;
          font-size: calc-size(12);
        }
      }
  
      .gallery__inst-btn {
        display: block;
        width: 316px;
        margin: auto;
        padding: 20px 0;
        @include mq(max, md) {
          width: 46vw;
          margin: 0 0 0 26vw;
          padding: 2vw 0;
        }
  
        &:after {
          content: "";
          position: absolute;
          top: 50%;
          left: 40px;
          transform: translateY(-50%);
          width: 20px;
          height: 20px;
          background: url(/dist/img/gallery_btn-tag.png) no-repeat;
          background-size: contain;
          @include mq(max, md) {
            width:  3.5vw;
            height: 3.5vw;
            left: 4vw;
          }
        }
      }
    }
  }