@import "variable";
// -------------------------------------
// ヘッダー部分
// -------------------------------------
.header {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  // padding: 0 0 0 178px;
  transition: all 0.5s ease-out;
  z-index: 999;
  @include mq(max, md) {
    position: fixed;
    justify-content: space-between;
    width: 100%;
  }

  &.fix {
    position: fixed;
    background: #D6AB8C;
    .nav__accordion-item {
      a {
        color: #D6AB8C;
      }
    }
  }
  .header__logo {
    font-size: 24px;
    font-family: $font-family-Prata;
    color: #fff;
    @include mq(max, md) {
      width: 24vw;
      margin-left: 5vw;
    }
  }

  .header__nav {
    display: flex;
    align-items: center;
    @include mq(max, md) {
      display: block;
      width: 100%;
      height: 100vh;
      padding: 20vw 0 0;
      position: fixed;
      top: 0;
      left: 100%; /* メニューを画面の外に飛ばす */
      box-sizing: border-box;
      z-index: 99;
      background: rgba(255, 255, 255, 0.9);
      transition: 0.5s;
    }
  }

  .header__nav-list {
    text-align: center;
    margin-right: 76px;
    @include mq(max, md) {
      margin: 0 auto 6vw;
    }

    &:last-of-type {
      margin-right: 0;
    }
    a {
      display: block;
      font-size: 2rem;
      letter-spacing: 0.15em;
      font-family: $font-family-eb;
      color: #fff;
      @include mq(max, md) {
        display: inline-block;
        font-size: calc-size(30);
        color: $col-black;
      }
    }
  }

  .header__contact {
    width: 167px;
    text-align: center;
    line-height: 2;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.25);
    @include mq(max, md) {
      width: 100%;
    }
  }
  //SP用ハンバーガーメニュー
  .header__nav-hidden {
    display: none;
  }

  .header__nav-icon {
    @include mq(max, md) {
      display: flex;
      height: 10vw;
      width: 10vw;
      margin-right: 5vw;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 100; /* 重なり順を一番上にする */
      cursor: pointer;
    }
  }
  .header__nav-open {
    content: "";
    display: block;
    height: 0.25vw;
    width: 10vw;
    border-radius: 3px;
    background: #fff;
    transition: 0.5s;
    position: absolute;
    &:before {
      @extend .header__nav-open;
      bottom: 2vw;
    }
    &:after {
      @extend .header__nav-open;
      top: 2vw;
    }
  }

  .header__nav-list--small {
    margin-bottom: 2vw;
    a {
      font-size: 4vw;
    }
  }
  
  .nav__accordion {
    position: relative;
    margin-top: 17px;
    @include mq(max, md) {
      margin-bottom: 10vw;
      padding-bottom: 10vw;
    }
    &:after {
      @include mq(max, md) {
        content: "";
        position: absolute;
        bottom:0;
        left: 50%;
        transform: translateX(-50%);
        width: 60vw;
        height: 0.25vw;
        background: #7b7b7b;
      }
    }
    &:hover {
      .nav__accordion-item {
        height: auto;
        padding: 6px 0 0;
        @include mq(max, md) {
          padding: 0;
        }
      }
      .header__nav-txt {
        &:before {
          left: 12%;
          width: 25px;
          transform: rotate(0);
          @include mq(max, md) {
            width: 10vw;
            left: 0;
          }
        }
        &:after {
          width: 25px;
          transform: rotate(0);
          @include mq(max, md) {
            width: 10vw;
          }
        }
      }
    }
    .header__nav-txt {
      position: relative;
      padding-bottom: 16.5px;
      font-size: 2rem;
      font-family: $font-family-eb;
      color: #fff;
      transition: all 0.5s ease-out;
      @include mq(max, md) {
        width: 60vw;
        padding-bottom: 7vw;
        font-size: calc-size(25)!important;
        color: #7b7b7b !important;
        z-index: 2;
        pointer-events:none;
      }
      &:before {
        content: "";
        position: absolute;
        bottom: 5px;
        left: 30%;
        transform: rotate(45deg);
        width: 14px;
        height: 1px;
        background: #fff;
        transition: all 0.3s ease-in-out;
        @include mq(max, md) {
          left: 0;
          bottom: 10vw;
          width: 10vw;
          height: 0.25vw;
          transform: rotate(0);
          background: #7b7b7b;
        }
      }
      &:after {
        content: "";
        position: absolute;
        bottom: 5px;
        left: 43%;
        width: 14px;
        height: 1px;
        background: #fff;
        transform: rotate(-45deg);
        transition: all 0.3s ease-in-out;
        @include mq(max, md) {
          bottom: 10vw;
          left: 50vw;
          width: 10vw;
          height: 0.25vw;
          transform: rotate(0);
          background: #7b7b7b;
        }
      }
    }
  
    .nav__accordion-item {
      width: 73px;
      height: 0;
      padding: 0;
      font-size: 1.5rem;
      text-align: center;
      overflow: hidden;
      background: rgba(255, 255, 255, 0.25);
      transition: all 0.5s ease-out;
      @include mq(max, md) {
        width: auto;
        height: auto;
        background: none;
      }
      &:not(:last-of-type) {
        margin-bottom: 9.6px;
        @include mq(max, md) {
          margin-bottom: 8vw;
        }
      }
    }
  
    .nav__accordion-list {
      position: absolute;
      top: 44px;
      left: 50%;
      transform: translateX(-50%);
      @include mq(max, md) {
        position: unset;
        transform: none;
      }
      a {
        @include mq(max, md) {
          font-size: calc-size(25);
        }
      }
    }
  }
}

#drawer_input:checked ~ .header__nav-icon .header__nav-open::before {
  bottom: 0;
  transform: rotate(19deg);
  background: $col-black;
}

#drawer_input:checked ~ .header__nav-icon .header__nav-open::after {
  top: 0;
  transform: rotate(-19deg);
  background: $col-black;
}

#drawer_input:checked ~ .header__nav {
  overflow-x:unset;
  left: 0; /* メニューを画面に入れる */
}
