@import "variable";
// -------------------------------------
// ヘッダー部分
// -------------------------------------
.header {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 0.5vw 0;
  z-index: 999;
  @include mq(max, md) {
    position: fixed;
    justify-content: space-between;
    width: 100%;
    padding: 2vw 0;
  }

  &.fix {
    position: fixed;
    background: #d6ab8c;
    .nav__accordion-item {
      a {
        color: #d6ab8c;
        @include mq(max, md) {
          color: $col-black;
        }
      }
    }

    .header__contact  {
      &:before {
        background: #bf906e;
      }
    }
  }
  .header__logo {
    height: 4.1vw;
    @include mq(max, md) {
      height: 10vw;
      margin-left: 5vw;
    }
    img {
      height: 100%;
    }
  }

  .header__nav {
    display: flex;
    align-items: center;
    @include mq(max, md) {
      display: block;
      width: 100%;
      height: 100vh;
      padding: 30vw 0 10vw;
      position: fixed;
      top: 0;
      left: 100%; /* メニューを画面の外に飛ばす */
      box-sizing: border-box;
      z-index: 99;
      background: rgba(255, 255, 255, 0.9);
      transition: 0.5s;
      overflow: scroll;
    }
  }

  .header__nav-list {
    text-align: center;
    margin-right: 76px;
    @include mq(max, md) {
      margin: 0 auto 5.5vw;
    }

    @include mq(max, lg) {
     margin-right: 2vw;
    }

    &:last-of-type {
      margin-right: 0;
      @include mq(max, md) {
        margin: auto;
      }
    }
    a {
      display: block;
      font-size: 0.73vw;
      letter-spacing: 0.15em;
      font-family: $font-family-eb;
      color: #fff;
      @include mq(max, md) {
        display: inline-block;
        font-size: calc-size(30);
        letter-spacing: 0;
        color: $col-black;
      }
    }
  }

  .header__contact {
    position: relative;
    width: 140px;
    padding: 5px 0;
    text-align: center;
    line-height: 2;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.25);
    overflow: hidden;
    @include mq(max, md) {
      width: 100%;
      padding: 0;
    }

    &::before {
      content: "";
      /*絶対配置で位置を指定*/
      position: absolute;
      top: 0;
      left: -130%;
      /*色や形状*/
      background: #333;
      width: 120%;
      height: 100%;
      transform: skewX(-25deg);
    }
    &:hover {
      &::before {
        animation: skewanime .5s forwards;/*アニメーションの名前と速度を定義*/
      }
    }

    a {
      position: relative;
      z-index: 3;
    }
  }
  //SP用ハンバーガーメニュー
  .header__nav-hidden {
    display: none;
  }

  .header__nav-icon {
    @include mq(max, md) {
      display: flex;
      height: 10vw;
      width: 10vw;
      margin-right: 5vw;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 100; /* 重なり順を一番上にする */
      cursor: pointer;
    }
  }
  .header__nav-open {
    content: "";
    display: block;
    height: 0.25vw;
    width: 10vw;
    border-radius: 3px;
    background: #fff;
    transition: 0.5s;
    position: absolute;
    &:before {
      @extend .header__nav-open;
      bottom: 2vw;
    }
    &:after {
      @extend .header__nav-open;
      top: 2vw;
    }
  }

  .header__nav-list--small {
    margin-bottom: 2vw;
    @include mq(max, md) {
      margin-bottom: 6vw;
    }
    a {
      font-size: 6vw;
      @include mq(max, md) {
        font-size: calc-size(19);
      }
    }
  }

  .header__nav-list--inst {
    width: 11vw;
    height: 11vw;
    padding: 1.5vw;
    border-radius: 50%;
    background: #fff;
    img {
      width: 70%;
    }
  }

  .nav__accordion {
    position: relative;
    margin-top: 17px;
    @include mq(max, md) {
      width: 76%;
      margin: 8vw auto 10vw;
      padding: 10vw 0 6vw;
      border-left: solid 0.25vw #e0d9d9;
      border-bottom: solid 0.25vw #e0d9d9;
      border-right: solid 0.25vw #e0d9d9;
    }

    &:hover {
      .nav__accordion-item {
        height: auto;
        padding: 3px 0 2px;
        @include mq(max, md) {
          padding: 0;
        }
      }
      .header__nav-txt {
        &:before {
          left: 6%;
          width: 1.2vw;
          transform: rotate(0);
          @include mq(max, md) {
            width: 10vw;
            left: 0;
          }
        }
        &:after {
          width: 1vw;
          transform: rotate(0);
          @include mq(max, md) {
            width: 10vw;
          }
        }
      }
    }
    
    .header__nav-txt {
      position: relative;
      padding-bottom: 20.5px;
      font-size: 0.73vw;
      font-family: $font-family-eb;
      color: #fff;
      pointer-events: none;
      transition: all 0.5s ease-out;
      @include mq(max, md) {
        position: absolute;
        top: -4.25vw;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        padding-bottom: 0;
        font-size: calc-size(25) !important;
        color: #e0d9d9 !important;
        z-index: 2;
      }

      &:before {
        content: "";
        position: absolute;
        bottom: 10.5px;
        left: 30%;
        transform: rotate(45deg);
        width: 9px;
        height: 1px;
        background: #fff;
        transition: all 0.3s ease-in-out;
        @include mq(max, md) {
          left: 0;
          bottom: 3vw;
          width: 10vw;
          height: 0.25vw;
          transform: rotate(0);
          background: #e0d9d9;
        }
      }
      &:after {
        content: "";
        position: absolute;
        bottom: 10.5px;
        left: 44%;
        width: 9px;
        height: 1px;
        background: #fff;
        transform: rotate(-45deg);
        transition: all 0.3s ease-in-out;
        @include mq(max, md) {
          bottom: 3vw;
          left: 87%;
          width: 10vw;
          height: 0.25vw;
          transform: rotate(0);
          background: #e0d9d9;
        }
      }
    }

    .nav__accordion-item {
      width: 73px;
      height: 0;
      padding: 0;
      font-size: 1.5rem;
      text-align: center;
      overflow: hidden;
      background: rgba(255, 255, 255, 0.25);
      transition: all 0.5s ease-out;
      @include mq(max, md) {
        width: auto;
        height: auto;
        background: none;
      }
      &:not(:last-of-type) {
        margin-bottom: 9.6px;
        @include mq(max, md) {
          margin-bottom: 6vw;
        }
      }

      &:hover {
        a {
          color: $col-black;
        }
      }

      &.comming-soon {
        background: transparent;
        a {
          color: #e0d9d9;
          pointer-events: none;
        }
      }
    }

    .nav__accordion-list {
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      padding: 30px 0 0;
      @include mq(max, md) {
        position: unset;
        transform: none;
        padding: 0;
      }
      a {
        @include mq(max, md) {
          font-size: calc-size(25);
        }
      }
    }
  }
}

#drawer_input:checked ~ .header__nav-icon .header__nav-open::before {
  bottom: 0;
  transform: rotate(19deg);
  background: $col-black;
}

#drawer_input:checked ~ .header__nav-icon .header__nav-open::after {
  top: 0;
  transform: rotate(-19deg);
  background: $col-black;
}

#drawer_input:checked ~ .header__nav {
  overflow-x: unset;
  left: 0; /* メニューを画面に入れる */
}
