.studio {
    .studio__top-txt {
      padding: 271px 0 167px;
      font-size: 2.5rem;
      line-height: 3.5;
      text-align: center;
      background: #fff;
      @include mq(max, lg) {
        font-size: 2rem;
      }
      @include mq(max, md) {
        padding: 23vw 0 17vw;
        font-size: calc-size(13);
        line-height: 3;
      }
    }
    .studio__group {
      padding: 84.5px 0 155px;
      @include mq(max, md) {
        padding: 13vw 0 22vw;
      }
    }
    .studio__ttl {
      position: relative;
      width: 580px;
      margin: auto;
      font-size: 6.5rem;
      text-align: center;
      font-family: $font-family-dancing;
      font-weight: 400;
      letter-spacing: -0.01em;
      line-height: 1.25;
      @include mq(max, md) {
        width: 70%;
        font-size: calc-size(23);
      }
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 122px;
        height: 1px;
        background: $col-brown;
        @include mq(max, md) {
          width: 25%;
        }
      }
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 122px;
        height: 1px;
        background: $col-brown;
        @include mq(max, md) {
          width: 25%;
        }
      }
    }
  
    .budiness {
      background: #fff;
     .studio__ttl {
       width: 738px;
       @include mq(max, md) {
        width: 68%;
      }
     }
     .studio__ttl-sub {
        @include mq(max, md) {
          margin-bottom: 5vw;
        }
      }
    }
    .studio__ttl-sub {
      margin-bottom: 98.7px;
      font-size: 1.2rem;
      text-align: center;
      @include mq(max, md) {
        margin-bottom: 10vw;
        font-size: calc-size(11);
      }
    }
  
    .studio__list {
      max-width: 1077px;
      width: 80%;
      margin: auto;
      @include mq(max, md) {
        width: 57%;
      }
    }
  
    .studio__item-img {
      width: 50%;
      @include mq(max, md) {
        width: 100%;
        margin-bottom: 2vw;
      }
    }
  
    .studio__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include mq(max, md) {
        flex-wrap: wrap;
      }
      &:not(:last-of-type) {
        margin-bottom: 78px;
        @include mq(max, md) {
          margin-bottom: 11vw;
        }
      }
    }
  
    .studio__item-txt {
      width: 526px;
      margin-left: 20px;
      font-size: 1.75rem;
      line-height: 2;
      @include mq(bw, md,lg) {
        font-size: 1.5rem;
      }
      @include mq(max, md) {
        margin-left: 0;
        font-size: calc-size(12);
        line-height: 2;
      }
    }

    .studio__item-lists {
      display: flex;
      flex-wrap: wrap;
      margin-top: -68px;
      font-size: 1.5rem;
      line-height: 1.5;
      @include mq(bw, md,lg) {
        font-size: 1.5rem;
      }
      @include mq(max, md) {
        margin-top: -8vw;
        font-size: calc-size(12);
        line-height: 2;
      }

      li{
        margin-right: 10px;
        &:first-of-type {
          width: 100%;
          font-size: 1.75rem;
          @include mq(max, md) {
            font-size: calc-size(13);
          }
        }
      }
    }
  
    .studio__days {
      margin-bottom: 79px;
      font-size: 2.5rem;
      line-height: 3;
      text-align: center;
      @include mq(max, lg) {
        font-size: 2rem;
      }
      @include mq(max, md) {
        margin-bottom: 11vw;
        font-size: calc-size(15);
        line-height: 2;
      }
    }
  
    .studio__days-txt {
      font-size: 1.5rem;
      line-height: 2;
      text-align: center;
      @include mq(max, md) {
        width: 80%;
        margin: auto;
        font-size: calc-size(12);
        text-align: left;
        letter-spacing: 0.08em;
      }
    }
    .access {
     .studio__ttl {
       width: 586px;
       @include mq(max, md) {
        width: 64%;
      }
     } 
     .studio__ttl-sub {
      @include mq(max, md) {
        margin-bottom: 5vw;
      }
     }
    }
  
    .studio__address {
      width: 80%;
      max-width: 1088px;
      margin: 0 auto 94px;
      @include mq(max, md) {
        margin: 0 auto 10vw;
      }
    }
    .studio__address-map {
      text-align: center;
      iframe {
        @include mq(max, lg) {
          width: 100%;
        }
        @include mq(max, md) {
          width: 90%;
          height: 40vw;
        }
      }
    }
    .studio__address-ttl {
      position: relative;
      margin-bottom: 18px;
      padding: 5px 0 5px 20px;
      font-size: 2.5rem;
      @include mq(max, lg) {
        font-size: 2rem;
      }
      @include mq(max, md) {
        margin-bottom: 0;
        padding: 2vw 0vw 2vw 6vw;
        font-size: calc-size(12);
      }
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 7px;
        height: 100%;
        background: $col-pink;
        @include mq(max, md) {
          top: 1.75vw;
          left: 4vw;
          width: 0.5vw;
          height: 50%;
        }
      }
    }
  
    .studio__address-txt {
      margin:0 0 34px 25px;
      font-size: 2.5rem;
      @include mq(max, lg) {
        font-size: 2rem;
        line-height: 1.5;
      }
      @include mq(max, md) {
        margin: 0 0vw 5vw 6vw;
        font-size: calc-size(13);
        letter-spacing: 0.08em;
      }
    }
  
    .studio__moving {
      width: 80%;
      max-width: 1088px;
      margin: auto;
      @include mq(max, md) {
        width: 70%;
      }
    }
    .studio__moving-ttl {
      margin-bottom: 36px;
      padding: 19px 0 19px 76px;
      font-size: 2.5rem;
      border-radius: 10px;
      background: #fff;
      @include mq(max, lg) {
        font-size: 2rem;
      }
      @include mq(max, md) {
        margin-bottom: 2vw;
        padding: 1vw 0 1vw 4vw;
        font-size: calc-size(11);
      }
    }
  
    .studio__moving-txt {
      margin-left: 76px;
      font-size: 2.5rem;
      line-height: 2;
      @include mq(max, lg) {
        font-size: 2rem;
      }
      @include mq(max, md) {
        margin-left: 4vw;
        font-size: calc-size(12);
        letter-spacing: 0;
        line-height: 1.75;
      }
      &.icon {
        position: relative;
        padding-left: 30px;
        margin-bottom: 43px;
        @include mq(max, md) {
          padding-left: 0;
          margin-bottom: 4vw;
        }
        &:before {
          content: "";
          position: absolute;
          top: 13px;
          left: 0;
          width: 20px;
          height: 20px;
          background: url(/dist/img/studio_icon.png) no-repeat center;
          @include mq(max, md) {
            width: 2vw;
            height: 2vw;
            top: 1.5vw;
            left: -2vw;
            background-size: contain;
          }
        }
      }
    }
  
    .studio__moving-item {
      &:not(:last-of-type) {
        margin-bottom: 92px;
        @include mq(max, md) {
          margin-bottom: 9vw;
        }
      }
    }
  
    .studio__moving-sub-txt {
      margin-left: 76px;
      font-size: 1.8rem;
      line-height: 1.5;
      @include mq(max, md) {
        margin-left: 0;
        font-size: calc-size(12);
      }
    }
  
    .process {
      background: #fff;
     .studio__ttl {
       width: 586px;
       @include mq(max, md) {
        width: 70%;
      }
     } 
    }
  
    .studio__process {
      width: 80%;
      max-width: 928px;
      margin: auto;
      @include mq(max, md) {
        width: 95%;
        margin:0 0 0 5%;
      }
    }
  
    .studio__process-item {
      margin-right: 150px;
      padding-left: 136px;
  
      @include mq(max, lg) {
        margin-right: 0;
        padding-left: 110px;
      }
  
      @include mq(max, md) {
        margin-right: 0;
        padding-left: 15%;
      }
      &:not(:last-of-type) {
        margin-bottom: 65px;
        
        @include mq(max, md) {
        margin-bottom: 5vw;
        }
      }
      
      &.one {
        padding-top: 20px;
        background: url(/dist/img/process_1.png) no-repeat center left;
        @include mq(max, md) {
          padding-top: 0;
          background: url(/dist/img/process_1_sp.png) no-repeat center left;
        }

        .studio__process-txt {
          padding-bottom: 40px;
          @include mq(max, md) {
            padding-bottom: 4vw;
          }
        }
      }
      
      &.two {
        background: url(/dist/img/process_2.png) no-repeat center left;
        @include mq(max, md) {
          background: url(/dist/img/process_2_sp.png) no-repeat center left;
          }
      }
      
      &.three {
        background: url(/dist/img/process_3.png) no-repeat center left;
        @include mq(max, md) {
          background: url(/dist/img/process_3_sp.png) no-repeat center left;
          }
      }
      
      &.four {
        background: url(/dist/img/process_4.png) no-repeat center left;
        @include mq(max, md) {
          background: url(/dist/img/process_4_sp.png) no-repeat center left;
          }
      }
      
      &.five {
        padding: 20px 0 20px 136px;
        background: url(/dist/img/process_5.png) no-repeat center left;
        @include mq(max, md) {
          padding:0 0 0 15%;
          background: url(/dist/img/process_5_sp.png) no-repeat center left;
          }
        .studio__process-txt {
          border-bottom: none;
        }
      }
    }
  
    .studio__process-ttl {
      margin-bottom: 15px;
      font-size: 2.5rem;
      font-weight: bold;
      @include mq(max, lg) {
        font-size: 2.5rem;
      }
      @include mq(max, md) {
        margin-bottom: 1vw;
        font-size: calc-size(15);
      }
    }
    .studio__process-txt {
      padding-bottom: 32px;
      font-size: 2rem;
      line-height: 1.25;
      letter-spacing: 0;
      border-bottom: solid 1px $col-pink;
      @include mq(max, lg) {
        font-size: 2rem;
      }
      @include mq(max, md) {
        padding-bottom: 4vw;
        font-size: calc-size(12);
      }
      a {
        text-decoration: underline;
      }
    }
  
    .studio__price-txt {
      margin-bottom: 96px;
      line-height: 2;
      font-size: 2rem;
      text-align: center;
      @include mq(max, md) {
        margin-bottom: 16vw;
        font-size: calc-size(13);
      }
    }
  
    .studio__btn {
      display: block;
      width: 316px;
      margin: auto;
      padding: 20px 0;
      text-align: center;
      z-index: 1;
      @include mq(max, md) {
        width: 43%;
        padding: 3vw 0;
      }
    }
  }